/* Estilos generales */

body.cuerpoinicio {background-image: url(../assets/fondo\ 2.png);}
body.cuerpox100pre {background-image:url(../assets/fondo.png);}
body.cuerpoyhlqmdlg {background-image:url(../assets/yhlllfon2.jpg);}
body.cuerpoeutdm {background-image: url(../assets/eutfondo.jpg);}
body.cuerpouvst {background-image: url(../assets/uvstfondo.jpg);}
/* Estilos para el encabezado */


/* Estilo para el fondo naranja del menú de navegación */
.navbar-orange {
    background-color: orange;
}
/* Estilos para el fondo negro y letras blancas del header x100pre */
.negro {
    background-color: black; 
}
.navbar-dark .navbar-brand,
.navbar-dark .nav-link {
    color: white; 
}

.navbar-toggler-icon {
    background-color: rgb(0, 0, 0); 
}

.navbar-dark .navbar-toggler {
    border: 1px solid white; 
}


/* Estilos para el fondo morado y letras azules yhlqmdlg */
.morado {
    background-color: #3b2372; 
}

.navbar-blue .navbar-brand,
.navbar-blue .nav-link {
    color: #ffffff; 
}

.navbar-blue .navbar-toggler-icon {
    background-color: #0000FF; 
}

.navbar-blue .navbar-toggler {
    border: 1px solid #0000FF; 
}

/* Estilos para el fondo rojo y letras negras eutdm */
.header-rojo {
    background-color: #752121; 
}

/* Estilos para las letras de color negro */
.navbar-nav-negro .navbar-brand,
.navbar-nav-negro .nav-link {
    color: #000000 !important; 
}

/* Estilos para el fondo naranja y letras azules uvst */
.header-naranja {
    background-color: #FFA500; 
}

.navbar-nav-azul .navbar-brand,
.navbar-nav-azul .nav-link {
    color: #0000FF !important; 
}




    
main {background-color: #222;
border-radius: 20px;
padding: 4px;}
main.parrafox100pre {
    background-color: #222;
    color: #fff;
}
main.parrafoinicio {
    background-color: #222;
    color: #fff;
}
main.parrafoyhlqmdlg {
    background-color:#171150;
    color: #fff;
}
main.parrafoeutdm {
    background-color:#5c1616;
    color: #fff;
}
main.parrafouvst {
    background-color:#bb5e5e;
    color: #fff;
}
/* Estilos para la sección de álbumes */
nav.albumes {
    padding: 20px 0;
    text-align: center;
}

nav.albumes ul {
    list-style: none;
    padding: 0;
}

nav.albumes li {
    display: inline-block;
    margin: 0 10px;
    text-align: center;
}

nav.albumes a {
    text-decoration: none;
    color: #007bff;
}

nav.albumes h2 {
    border: 4px solid #ffffff;
    padding: 4px;
    display: block;
    margin-bottom: 8px;
    border-radius: 20px;
    background-color: #222222;
}

nav.albumes img {
    max-width: 100%;
    width: 100px;
    height: 100px;
    height: auto;
    border: 1px solid #ffffff;
    padding: 10px;
    margin-bottom: 10px;
}

.main-parrafo {
    border: 5px solid #ffffff;
    padding: 5px;
    display: block;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #eb6ecb;
}

.main-parrafo.dos {
    background-color: #78f7fc;
}

/* Estilos para el pie de página */
footer {
    background-color: #3f9797;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-radius: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-logo img {
    width: 100px;
    height: auto;
}

.footer-info p {
    margin: 10px 0;
}

.footer-social a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

.footer-copyright {
    background-color: #803b6e;
    padding: 10px 0;
}

/* Estilos generales */
body.cuerpo {
    background-image: url(../assets/empty-showcase-abstract-pastel-color-background-3d-illustration-free-vector.jpg);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}

.cabecera {
    text-align: center;
    color: rgb(0, 162, 255);
    background-color: #ff00c8;
    border-radius: 30px;
    margin-right: 550px;
    margin-left: 550px;
    padding: 20px;
}

.albumes ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.albumes li {
    display: inline-block;
    margin: 0 10px; 
}

.albumes li a {
    text-decoration: none;
    color: #007bff; 
}

.parrafo {
    margin: 10px 0;
    padding: 20px;
    border-radius: 15px;
    background-color: #222;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #3f9797;
}

.footer-logo img {
    width: 100px;
    height: auto;
}

.footer-info p {
    margin: 10px 0;
}

.footer-social a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

.footer-copyright {
    background-color: #803b6e;
    padding: 10px 0;
}

.collage {
    display: flex;
    gap: 5px; 
}

.fila {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.fila img {
    width: 400px;
    height: 400px;
    margin-left: 10px; 
    margin-right: 10px; 
}

.fila img:last-child {
    margin-right: 0; 
}

.text-box {
    flex: 1;
    background-color: #131212;
    padding: 20px 2px; 
    gap: 5px;
    border-radius: 5px; 
    margin-right: 10px; 
    color: white;
}

.inicios {text-align: center;}

/* Añade estos estilos para controlar la colocación de las imágenes */
/* Añade estos estilos para controlar la colocación del reproductor de Spotify */
.spotify-section {
    display: flex;
    flex-wrap: wrap; /* Para que los elementos se ajusten si no caben en la misma fila */
    align-items: center;
    justify-content: space-between; /* Para distribuir los elementos en línea */
}

.spotify-images {
    display: flex;
    width: 33%;
}

.spotify-images img {
    max-width: 400px; /* Ajustar las imágenes al 100% del contenedor */
    height: auto;
    border-radius: 5px;
    margin-right: 10px;
}

.spotify-player {
    width: 39%;
    max-width: 1000px;
}

