@charset "UTF-8";
/* Estilos generales */
body.cuerpoinicio {
  background-image: url(../assets/fondo_2.png);
}

body.cuerpox100pre {
  background-image: url(../assets/fondo.png);
}

body.cuerpoyhlqmdlg {
  background-image: url(../assets/yhlllfon2.jpg);
}

body.cuerpoeutdm {
  background-image: url(../assets/eutfondo.jpg);
}

body.cuerpouvst {
  background-image: url(../assets/uvstfondo.jpg);
}

body.cuerponslqvpm {
  background-color: rgb(216, 200, 180);
}

/* estilos para variables */
:root {
  --negro: black;
  --blanco: #ffffff;
  --gris-oscuro: #3b3b3b;
  --rojo: #FF0000;
  --fondo-inicio: #000;
  --fondo-x100pre: rgb(66, 66, 66);
  --fondo-yhlqmdlg: rgb(7, 75, 139);
  --fondo-eutdm: #5c1616;
  --fondo-uvst: rgb(192, 102, 41);
  --fondo-nslqvpm: rgb(112, 42, 42);
}

/* Estilos para el encabezado */
.negro {
  background-color: var(--negro);
}

/* Estilos para la sección de main */
p.inicio {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.6;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  margin: 5px;
  color: var(--blanco);
  background-color: var(--fondo-inicio);
}

p.eutdm {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.6;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  margin: 5px;
  color: var(--blanco);
  background-color: var(--fondo-eutdm);
}

p.nslqvpm {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.6;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  margin: 5px;
  color: var(--blanco);
  background-color: var(--fondo-nslqvpm);
}

p.uvst {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.6;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  margin: 5px;
  color: var(--blanco);
  background-color: var(--fondo-uvst);
}

p.x100pre {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.6;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  margin: 5px;
  color: var(--blanco);
  background-color: var(--fondo-x100pre);
}

p.yhlqmdlg {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.6;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  margin: 5px;
  color: var(--blanco);
  background-color: var(--fondo-yhlqmdlg);
}

/* Estilos para la sección de álbumes */
nav.albumes {
  padding: 20px 0;
  text-align: center;
}

nav.albumes ul {
  list-style: none;
  padding: 0;
}

nav.albumes li {
  display: inline-block;
  margin: 0 10px;
  text-align: center;
}

nav.albumes a {
  text-decoration: none;
  color: #007bff;
}

nav.albumes h2 {
  border: 4px solid var(--blanco);
  padding: 4px;
  display: block;
  margin-bottom: 8px;
  border-radius: 20px;
  background-color: var(--negro);
}

nav.albumes img {
  max-width: 100%;
  width: 100px;
  height: 100px;
  height: auto;
  border: 5px solid var(--blanco);
  padding: 10px;
  margin-bottom: 10px;
}

/* Estilos para el pie de página */
footer {
  background-color: #3f9797;
  color: var(--blanco);
  padding: 20px 0;
  text-align: center;
  border-radius: 20px;
  margin: 5px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-logo img {
  width: 100px;
  height: auto;
}

.footer-info p {
  margin: 10px 0;
}

.footer-social a {
  color: var(--blanco);
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
}

/* Estilos generales */
.albumes ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.albumes li {
  display: inline-block;
  margin: 0 10px;
}

.albumes li a {
  text-decoration: none;
  color: var(--blanco);
}

.parrafo {
  margin: 10px 0;
  padding: 20px;
  border-radius: 15px;
  background-color: var(--negro);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #3f9797;
}
.footer-container .footer-logo img {
  width: 100px;
  height: auto;
}
.footer-container .footer-info p {
  margin: 10px 0;
}
.footer-container .footer-social a {
  color: var(--blanco);
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
}
.footer-container .footer-copyright {
  background-color: #803b6e;
  padding: 10px 0;
}

.collage {
  display: flex;
  gap: 5px;
}

.fila {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.fila img {
  width: 400px;
  height: 400px;
}

.fila img:last-child {
  margin-right: 0;
}

.text-box {
  flex: 1;
  background-color: var(--negro);
  padding: 20px 2px;
  gap: 5px;
  border-radius: 5px;
  color: var(--blanco);
}

.inicios {
  text-align: center;
}

.spotify-images-uvst {
  display: flex;
  gap: 10px;
  padding: 10px;
}
.spotify-images-uvst img {
  max-width: 50%;
  height: auto;
  border-radius: 5px;
}
.spotify-images-uvst img:first-child,
.spotify-images-uvst img:last-child {
  flex: 1;
}
.spotify-images-uvst img {
  border: 5px solid var(--negro);
}

.spotify-images-nadie-sabe {
  display: flex;
  gap: 10px;
  padding: 10px;
}
.spotify-images-nadie-sabe img {
  max-width: 50%;
  height: auto;
  border-radius: 5px;
}
.spotify-images-nadie-sabe img:first-child,
.spotify-images-nadie-sabe img:last-child {
  flex: 1;
}
.spotify-images-nadie-sabe img {
  border: 5px solid var(--negro);
}

.spotify-images-x100pre {
  display: flex;
  gap: 10px;
  padding: 10px;
}
.spotify-images-x100pre img {
  max-width: 50%;
  height: auto;
  border-radius: 5px;
}
.spotify-images-x100pre img:first-child,
.spotify-images-x100pre img:last-child {
  flex: 1;
}
.spotify-images-x100pre img {
  border: 5px solid var(--blanco);
}

.spotify-images-yhlqmdlg {
  display: flex;
  gap: 10px;
  padding: 10px;
}
.spotify-images-yhlqmdlg img {
  max-width: 50%;
  height: auto;
  border-radius: 5px;
}
.spotify-images-yhlqmdlg img:first-child,
.spotify-images-yhlqmdlg img:last-child {
  flex: 1;
}
.spotify-images-yhlqmdlg img {
  border: 5px solid var(--blanco);
}

.spotify-images-eutdm {
  display: flex;
  gap: 10px;
  padding: 10px;
}
.spotify-images-eutdm img {
  max-width: 50%;
  height: auto;
  border-radius: 5px;
}
.spotify-images-eutdm img:first-child,
.spotify-images-eutdm img:last-child {
  flex: 1;
}
.spotify-images-eutdm img {
  border: 5px solid var(--blanco);
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 1289px) {
  .spotify-images {
    flex-direction: column;
  }
  .spotify-images img {
    max-width: 100%;
  }
}
div {
  margin: 5px;
}

/* Estilos generales para pantallas grandes */
.collage {
  display: flex;
}

.fila {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.text-box {
  flex: 1;
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 1216px) {
  .collage {
    flex-direction: column;
  }
  .fila {
    flex: 1;
  }
  .fila img {
    max-width: 100%;
    height: auto;
  }
  .text-box {
    font-size: 14px;
  }
  .fila img {
    width: 100%;
    max-width: none;
  }
}
/* Media Query para iPad Air y dispositivos similares */
@media (max-width: 820px) {
  .collage {
    flex-direction: column;
  }
  .fila {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fila img {
    max-width: 100%;
    height: auto;
  }
  /* Establece el ancho del texto al 100% del ancho disponible */
  .text-box {
    max-width: 100%;
  }
}
/* ... (otros estilos) ... */
/* Media Query para pantallas pequeñas (320px) */
@media (max-width: 320px) {
  .footer-info {
    padding: 0 10px; /* Ajusta el padding para evitar scroll horizontal */
  }
  .footer-info p {
    margin: 5px 0; /* Ajusta el espacio entre párrafos */
  }
  .footer-logo img {
    width: 80%; /* Ajusta el tamaño del logo */
  }
  .footer-social a {
    font-size: 14px; /* Ajusta el tamaño de las redes sociales */
  }
}
/* Media Query para pantallas pequeñas (767px) */
@media only screen and (max-width: 767px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
  .footer-logo img {
    width: 50%; /* Ajusta el tamaño del logo */
  }
  .footer-info p {
    margin: 5px 0;
  }
  .footer-social a {
    font-size: 16px;
  }
}
/* Establece la transición para los botones y las imágenes */
.nav-link, .album-image {
  transition: transform 0.3s ease;
}

/* Aplica la animación al pasar el cursor sobre los botones */
.nav-link:hover {
  transform: scale(1.1);
}

/* Aplica la animación al pasar el cursor sobre las imágenes */
.album-image:hover {
  transform: scale(1.1);
}

/* Animación para imágenes en la página principal */
.albumes li img {
  transition: transform 0.3s; /* Duración de la animación 0.3 segundos */
}

.albumes li img:hover {
  transform: scale(1.1); /* Al pasar el cursor, escala la imagen */
}

/* Animación para los títulos en la página principal */
.albumes h2 a {
  transition: color 0.3s; /* Duración de la animación 0.3 segundos */
}

.albumes h2 a:hover {
  color: var(--rojo); /* Al pasar el cursor, cambia el color del texto */
}

/* Estilo base para elementos del pie de página */
.footer {
  opacity: 0; /* Inicialmente, el pie de página estará invisible */
  transition: opacity 0.5s; /* Agrega una transición suave */
}

/* Aplica la animación al pasar el cursor sobre el pie de página */
.footer:hover {
  opacity: 1; /* Al pasar el cursor, el pie de página se volverá visible */
}

/* Estilo base para elementos de redes sociales */
.footer-social a {
  display: inline-block;
  transform: translateY(0); /* Inicialmente, los elementos están en su posición normal */
  transition: transform 0.3s ease-in-out; /* Agrega una transición con efecto de rebote */
}

/* Aplica la animación al pasar el cursor sobre los elementos de redes sociales */
.footer-social a:hover {
  transform: translateY(-5px); /* Al pasar el cursor, los elementos subirán 5px */
}

/* Estilo base para el logo */
.footer-logo img {
  transform: rotate(0deg); /* Inicialmente, el logo no estará girado */
  transition: transform 0.3s ease-in-out; /* Agrega una transición con efecto de giro */
}

/* Aplica la animación al pasar el cursor sobre el logo */
.footer-logo img:hover {
  transform: rotate(360deg); /* Al pasar el cursor, el logo girará 360 grados */
}

/* Estilos generales para .footer-info */
/* Media Query para pantallas más pequeñas, como 320px */
@media (max-width: 320px) {
  .footer-info {
    padding: 0 10px; /* Ajusta el padding para evitar scroll horizontal */
  }
  .footer-info p {
    margin: 5px 0; /* Ajusta el espacio entre párrafos */
  }
}/*# sourceMappingURL=main.css.map */